html, body {
    background-color: #eee;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}


.flex-center {
    /*align-items: center;*/
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 60px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.img-bg{
    max-height: 150px;
    margin-top: 20px;
}

.links{
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
    display: flex;
}

.links a{
    background: white;
    border: 1px solid #c5c5c5;
    margin: 0 10px;
    padding: 7px 15px;
    transition: 0.2s ease-in-out;
    flex: auto;
    font-size: 16px;
}
.links a:hover{
    background: #333;
    color: white;
    /*border:1px dashed;*/
}


body{
    background: #eee!important;
}
input[type=checkbox]:active,
input[type=checkbox]:focus{
    border: none;
    box-shadow: none;
}
#main-container{
    margin: 0 auto;
    font-family: Arial;
}

#main-container-pdf{
    width: 850px;
    margin: 0 auto;
    font-family: Arial;
}

#exam-data{
    margin-top: 100px;
    position: relative;
    border: solid 1px black;
    padding: 20px;
}

#reservation-logo{
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#reservation-table{
    font-size: 28px;
    font-weight: bold;
}

#reservation-table tr{
    height: 40px;
}

ol{
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.jumbotron{
    background: #fff;
    border: 1px solid #bbb;
    color: #333!important;
}
.card-body{
    border: 1px solid #bbb!important;
}

.table{
    border: 0;
}
.table thead{
    background: #28a745;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.table tbody{
    background: white;
}
table.exam input:checked ~ .overlay{
    display: block!important;
}
table.exam .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 128, 0, 0.5);
    z-index: 2;
}
table.exam .review{
    background: #0b2e13;
}

label,
table thead{
    text-transform: capitalize!important;
}

.logo-sm{
    height: 50px;
}

.nav-link{
    font-size: 20px;
}
.navbar-nav .nav-item{
    margin: 0 15px;
}
.navbar-nav .nav-item:hover a{
    background: #ddd;
}
.navbar-nav .nav-item:hover:nth-of-type(3) a{
    background: white;
}
nav.navbar{
    box-shadow: 0 7px 10px rgba(0,0,0,0.2);
}
