body{
    background: #eee!important;
}
input[type=checkbox]:active,
input[type=checkbox]:focus{
    border: none;
    box-shadow: none;
}
#main-container{
    margin: 0 auto;
    font-family: Arial;
}

#main-container-pdf{
    width: 850px;
    margin: 0 auto;
    font-family: Arial;
}

#exam-data{
    margin-top: 100px;
    position: relative;
    border: solid 1px black;
    padding: 20px;
}

#reservation-logo{
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#reservation-table{
    font-size: 28px;
    font-weight: bold;
}

#reservation-table tr{
    height: 40px;
}

ol{
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.jumbotron{
    background: #fff;
    border: 1px solid #bbb;
    color: #333!important;
}
.card-body{
    border: 1px solid #bbb!important;
}

.table{
    border: 0;
}
.table thead{
    background: #28a745;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.table tbody{
    background: white;
}
table.exam input:checked ~ .overlay{
    display: block!important;
}
table.exam .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 128, 0, 0.5);
    z-index: 2;
}
table.exam .review{
    background: #0b2e13;
}

label,
table thead{
    text-transform: capitalize!important;
}

