#main-container-pdf{
    width: 850px;
    margin: 0 auto;
    font-family: Arial;
}

#exam-data{
    margin-top: 100px;
    position: relative;
    border: solid 1px black;
    padding: 20px;
}

#reservation-logo{
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#reservation-table{
    font-size: 28px;
    font-weight: bold;
}

#reservation-table tr{
    height: 40px;
}

ol{
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}
